<header>
    <img src="../../../../public/acb.ico" alt="amascakeboutique logo">

    <nav>
      <ul class="nav-bar">
        <li class="text-hover"><a href="#">HOME</a></li>
        <li class="text-hover"><a href="#">ABOUT US</a></li>
        <li class="text-hover"><a href="#">GALLERY</a></li>
        <li class="text-hover"><a href="#">CAKE ENQUIRY</a></li>
        <li class="text-hover"><a href="#">TESTIMONIAL</a></li>
        <li class="text-hover"><a href="#">CONTACT US</a></li>
      </ul>
    </nav>
</header>
