<div class="container">
  <div class="modal">
    <h3 id="latest-offers">GET LATEST OFFERS</h3>
  
    <p class="text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias non,
      veritatis possimus ipsum eaque, quisquam, a vitae totam quidem modi
      inventore enim natus placeat vel sint qui minima ut consequatur?
    </p>
  
    <form (ngSubmit)="onSubmit()">
      <label for="email-signup"></label>
      <input type="text" name="email-signup" id="email-signup" placeholder="info@amascakeboutique.com" />
    </form>
  
    <button (click)="onClick()" class="subscribe">
      Subscribe
    </button>
  
    <h4 id="no-thanks">No Thanks</h4>
  </div>
</div>
